@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'persiannum';
    src: url('../public/fonts/PeydaWebFaNum-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dana-bold';
    src: url('../public/fonts/dana-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dana-bolder';
    src: url('../public/fonts/dana-extrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Peyda-bold';
    src: url('../public/fonts/Peyda-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Peyda-bolder';
    src: url('../public/fonts/Peyda-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@layer components {
    .navbar {
        @apply m-0 p-2 px-8 flex flex-row items-center justify-center bg-gray-300;
    }

    .navbar-nav {
        @apply flex flex-row gap-2 items-center justify-start w-full;
    }

    .nav-brand {
        @apply px-3 text-2xl font-bold text-gray-900 leading-tight font-peydabold;
    }

    .nav-divider {
        @apply self-stretch border border-white bg-white mx-2;
    }

    .nav-item a {
        @apply flex flex-row items-center justify-start font-peydabolder;
    }

    .badge {
        @apply bg-amber-500 rounded-full mx-2;
    }

    .leading-span {
        @apply mx-2 flex flex-row items-center justify-end;
    }

    .search {
        @apply p-3 rounded-lg text-sm text-gray-900 leading-tight w-[14rem] placeholder-black font-peydabolder;
    }

    .search::placeholder {
        @apply font-bold;
    }

    .main-content {
        @apply flex-grow flex flex-col items-start justify-start w-full p-2 gap-3 relative;
    }

    .title-filter {
        @apply bg-gray-300 p-2 rounded-lg shadow-sm shadow-black text-sm text-black leading-tight
        placeholder-black w-[30rem] font-danabolder;
    }

    .title-filter::placeholder {
        @apply font-bold;
    }

    .operations button {
        @apply m-0 p-[0.3rem];
    }

    .data-table {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid lightgray;
        border-top: none;
    }

    .data-table th,
    .data-table td {
        @apply font-danabolder;
        position: relative;
        padding: 0.25rem !important;
        padding-left: 1rem !important;
        overflow: hidden;
        background-color: white;
        border-bottom: 0 !important;
    }

    .data-table th {
        @apply bg-slate-50;
    }

    .data-table th:not(:last-child)::before,
    .data-table td:not(:last-child)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        background: linear-gradient(
            to bottom,
            white 0%,
            white 20%,
            lightgray 20%,
            lightgray 80%,
            white 80%,
            white 100%
        );
        z-index: 1;
    }

    .edit-delete {
        border-inline: solid 1px black !important;
        border-radius: 10px !important;
        margin-inline: 0.25rem !important;
    }

    .abortButton {
        @apply flex-grow;
        border-right: none !important;
        color: black;
        border-color: black !important;
        justify-content: space-between !important;
    }

    .abortDelete {
        border-block: none !important;
        color: black;
        border-color: black !important;
    }

    .add-pagination {
        @apply self-stretch flex flex-row items-center justify-between;
    }

    .add {
        @apply bg-blue-600 rounded-xl p-2 hover:bg-blue-800 text-white transition-all duration-300 ease-in
        flex flex-row items-center gap-4;
    }

    .check-container {
        @apply flex flex-row items-center justify-center bg-[#2afe4d] rounded-xl rounded-bl-none p-2;
    }

    .pagination {
        @apply flex flex-row gap-2 items-center;
    }

    .help-card {
        @apply flex flex-row items-center border-2 border-black border-dotted p-2 gap-2 w-[30rem] rounded-lg;
    }

    .help-card-title {
        @apply flex flex-row items-center justify-start gap-2;
    }

    .form {
        @apply absolute w-[80rem] h-[18rem] left-[calc(50%_-_40rem)] top-[calc(50%_-_9rem)] shadow-lg shadow-black
        bg-white flex flex-col rounded-xl z-10;
    }

    .add-title {
        @apply flex flex-row items-center justify-start gap-8 p-2;
    }

    .input-group {
        @apply flex flex-row items-center justify-start gap-2 w-[25rem] relative;
    }

    .form-error {
        @apply absolute text-[0.45rem] text-red-600 -bottom-2 font-bold left-0
    }

    .delete-confirm {
        @apply absolute w-[25rem] h-[10rem] left-[calc(50%_-_12.5rem)] top-[calc(50%_-_5rem)] shadow-lg shadow-black
        bg-white rounded-xl p-5 flex flex-col gap-1 z-10;
    }
}